<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Web Scraping App</title>
    <link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body>
    <div id="rays-container"></div>
    <h1>Welcome to the Web Scraping App By DATA SCIENCE</h1>
    <form action="/result" method="post">
        <label for="cups">Enter CUPS:</label>
        <input type="text" id="cups" name="cups" required>
        <button type="submit">Submit</button>
    </form>
    <img src="https://media.licdn.com/dms/image/D4D16AQEeQiNF-7gARg/profile-displaybackgroundimage-shrink_200_800/0/1695132795604?e=2147483647&v=beta&t=NerP7j-Eqfazfsjc3fJb7UeKeAOkS877vQWnaUQJENQ" alt="several">
    <script src="rays.js"></script>
</body>
</html>

